<!DOCTYPE html>
<html>
<head>

  <style>
    body {
  background: color #e3e7e8;

    color: #000;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

  body.dark-mode {
    background-color: #222;
    color: #fff;
  }
  h1{
    font-size: xx-large;
  }
  body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: color #e3e7e8;

}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
  </style>
</head>
<body>
  <div class="about-section">
    <h1>About Us Page</h1>
    <p>An Store to help student buy cyber security certificates</p>
    <p>we are making the cyber security easy to every one </p>
    <p>Welcome to FCDS Certificates, your trusted provider of high-quality certificates for individuals and businesses. 
    <p>At FCDS Certificates, we are dedicated to providing exceptional customer service. </p>
    <p> Our team is available to get your ratings.</p>
    <p>Our mission is to help our customers achieve their goals and advance their careers through industry-recognized certification.</p>
    <p>Our team of experts is passionate about providing the best possible service to our customers, and we are committed to ensuring the quality and accuracy of our certificates.</p>
    <p> Our certificates are designed to meet the needs of a wide range of Cyber Security industries. </p>
    <p>We work closely with industry leaders to ensure that our certificates are up-to-date and reflect the latest standards and best practices.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/hacker.jpg"   style="width:100%">
        <div class="container">
          <h2>Hacker</h2>
          <p class="title">Project Manager</p>
          <p>Email: test@gmail.com</p>
        </div>
      </div>
    </div>
  

    <div class="row">
      <div class="column">
        <div class="card">
          <img src="/hacker.jpg"   style="width:100%">
          <div class="container">
            <h2>Hacker</h2>
            <p class="title">Frontend</p>
            <p>Email: test@gmail.com</p>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="column">
          <div class="card">
            <img src="/hacker.jpg"   style="width:100%">
            <div class="container">
              <h2>Hacker</h2>
              <p class="title">Backend</p>
              <p>Email: test@gmail.com</p>
            </div>
          </div>
        </div>

    
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="/hacker.jpg"   style="width:100%">
              <div class="container">
                <h2>Hacker</h2>
                <p class="title">CTO</p>
                <p>Email: test@gmail.com</p>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="column">
              <div class="card">
                <img src="/hacker.jpg"   style="width:100%">
                <div class="container">
                  <h2>Hacker</h2>
                  <p class="title">Project Manager</p>
                  <p>Email: test@gmail.com</p>
                </div>
              </div>
            </div>
  

      
</body>
</html>